.foodItem{
    display: flex;
    justify-content: center;
    /* max-height: 270px; */
    -webkit-box-shadow: 6px 6px 0px 0px rgb(185, 143, 104);
    -moz-box-shadow: 6px 6px 0px 0px rgb(185, 143, 104);
    box-shadow: 6px 6px 0px 0px rgb(185, 143, 104);
    margin: 7px 0;
    background-color: rgba(0, 0, 0, 0.05);
    transition: all 0.1s linear;
}
.foodImg{

    flex-basis: 50%;
}
.foodImg img{
    width: 100%;
    padding: 6px;
    transform: rotateY(0deg);
    transition: all 0.1s linear;

}

.foodDetails{
    text-align: center;
    display: flex;
    /* width: 50%; */
    flex-basis: 50%;
    flex-direction: column;
    justify-content: center;
    height: auto;
    /* overflow: scroll; */
    margin: 5px 5px;


}
.foodDetails h2{
    transform: rotateY(0);
    transition: all 0.1s linear;
}

@media only screen and (max-width: 720px){
    .foodItem{
        flex-direction: column;
        align-items: center;
    }
    .foodDetails{
        width: 90%;
    }
    .foodDetails p{
        padding: 12px 0;
    }
    .foodDetails h3{
        padding: 6px 0;
    }
}