.igContainer{
    display: grid;
    height: 500px;
    max-width: 50vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr 1fr;
    column-gap: 5px;
    row-gap: 1.9px;
}


/* @-webkit-keyframes slide-rotate-ver-left {
    0% {
      -webkit-transform: translateX(0) rotateY(0);
              transform: translateX(0) rotateY(0);
    }
    100% {
      -webkit-transform: translateX(-150px) rotateY(90deg);
              transform: translateX(-150px) rotateY(90deg);
    }
  } */