.igimg{
    max-width: 120px;
    /* flex-basis: 200px; */
    position: relative;
    z-index: 1;
    opacity: 0.93;
    transition: all 0.2s;
}
.igimg:hover{
    transform: scale(1.06);
    opacity: 1;
    z-index: 10;
}
.iglogo {
    grid-column: 1 / 4;
    justify-self: center;
    align-self: end;
    width: 120px;
    /* height: 50%; */
}

@media only screen and (max-width: 370px){
    .igimg{
        max-width: 90px;
    }
}