#home {
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  /* height: 70vh; */
  margin: 0 auto;
  /* height: 70vh; */
  /* overflow: hidden; */
}
.home1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-basis: 50%;
  /* max-width: 40%; */
  /* background-color: rgba(255, 0, 0, 0.116); */
}
.home1 p {
  width: 60%;
  font-size: 16px;
  margin: 10px;
  text-align: center;
}
.home1 h1 {
  margin: 10px 0;
  margin-left: 5px;
}
.callBut {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  height: clamp(33px, 4.4vw, 51.92px);
  width: clamp(150px, 20vw, 236px);
  transition: all 0.2s 0.05s;
}
.call-to-action {
  margin: 0 auto;
  height: inherit;
  width: inherit;
  /* height: 100%;
  width: 100%; */
  background-color: #b98f68;
  position: absolute;
}
.callBut h3 {
  position: absolute;
  color: white;
  text-transform: uppercase;
  font-size: clamp(11px, 1.5vw, 18px);
  z-index: 1;
}
.call-to-action:before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
  top: 3px;
  left: 3px;
  z-index: -1;
  background-color: #808080;
  transition: all 0.2s;
}

.home1 img {
  width: 100%;
  position: relative;
  top: -20px;
  z-index: -2;
  /* background-color: red; */
}
.home2 {
  flex-basis: 50%;

  /* border: 1px solid black; */
  /* background-color: #b3b96894; */
  /* overflow: hidden; */
}

.home2 img {
  display: block;
  width: 95%;
  margin: 0 auto;
  -webkit-box-shadow: 4px 4px 0px 0px rgb(185, 143, 104);
  -moz-box-shadow: 4px 4px 0px 0px rgb(185, 143, 104);
  box-shadow: 4px 4px 0px 0px rgb(185, 143, 104);
  transition: all 0.5s;
}

.contactCont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: auto;
  position: relative;
  padding: 0 50px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.contactCont img:nth-child(2) {
  position: absolute;
  width: 100%;
  z-index: -10;
  margin: 0 auto;
}
.contactCont img:nth-child(4) {
  display: none;
}

.contactCont:hover .igContainer {
  /* -webkit-transform: translateX(-150px) rotateY(90deg); */
  transform: translateX(0) rotateY(0);
}
.error {
  color: tomato;
}

.startEntrance {
  opacity: 0;
  transform: scale(0.9);
  transition: all 1s;
}


@media only screen and (max-width: 652px) {
  .home1 h1 {
    margin: -5px;
    /* margin-left: 5px; */
    font-size: 3.3vw;
  }
  .home1 p {
    width: 80%;
    font-size: 12px;
    margin: 10px;
    text-align: center;
  }
  /* .callBut h3 {
    position: absolute;
    color: white;
    text-transform: uppercase;
    font-size: clamp(8px, 1.5vw, 18px);
    z-index: 1;
  } */
}
@media only screen and (max-width: 501px) {
  .home1 {
    flex-grow: 1;
  }
  .home2 {
    display: none;
  }
  .home1 h1 {
    margin: 5px;
    /* margin-left: 5px; */
    font-size: 5vw;
  }
  .home1 p {
    width: 80%;
    font-size: 12px;
    margin: 20px;
    text-align: center;
  }
  .home1 img {
    width: 80%;
    position: relative;
    top: -20px;
    z-index: -2;
    /* background-color: red; */
  }
}

@media only screen and (max-width: 900px) {
  .contactCont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
    position: relative;
    padding: 0 10px;
    margin: 0 auto;

    flex-wrap: wrap;
  }
  .contactCont img:nth-child(4) {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: -10;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 620px) {
  .contactCont img:nth-child(4) {
    /* bottom: 14vw; */
    bottom: clamp(20px, 50vw, 100px);
  }
}
