#home{
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    /* height: 70vh; */
    /* overflow: hidden; */

}
.home1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 800px;
    /* background-color: rgba(255, 0, 0, 0.116); */
}
.home1 p{
    width: 60%;
    font-size: 16px;
    margin: 10px;
    text-align: center;
}
.home1 h1{
    margin: 10px 0;
}
.callBut{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 236px;
}
.call-to-action{
    margin: 0 auto;
    height: inherit;
    width: inherit;
    background-color: #B98F68;
    position: absolute;
}
.callBut h3{
    position: absolute;
    color:white;
    text-transform: uppercase;
    font-size: 18px;
    z-index: 1;
}
.call-to-action:before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
    top:3px;
    left: 3px;
    z-index: -1;
    background-color: #808080;

}

.home1 img{
    width: 400px;
    position: relative;
    top: -20px;
    z-index: -2;
    /* background-color: red; */
}
.home2{
    margin: 0 20px;
    width: 500px;
    /* background-color: #B98F68; */
    /* overflow: hidden; */
}


.home2 img{
    display: block;
    width: 100%;
    -webkit-box-shadow: 4px 4px 0px 0px rgb(185, 143, 104);
-moz-box-shadow:    4px 4px 0px 0px rgb(185, 143, 104);
box-shadow:         4px 4px 0px 0px rgb(185, 143, 104);
}
