ul{
    display: flex;
    justify-content: space-between;
    /* min-width: 400px; */
    flex-basis: 800px;
    list-style: none;
    border-bottom: 2px #B98F68 solid;
}
li{
    font-size: 16px;
    padding:0 15px;
    padding-bottom: 14px;
    text-transform: uppercase;
}
a{
    text-decoration: none;
}

@media only screen and (max-width:757px){
    ul{
        display: flex;
        justify-content: space-between;
        /* min-width: 400px; */
        /* padding-right: 20px; */
        flex-basis: auto;
        /* flex-basis: 300px; */
        flex-grow: 1;

    }
    li{
    font-size: 13px;
    padding:0;
    padding-bottom: 5px;

    }
}
@media only screen and (max-width:500px){
    li{
        font-size: 3.5vw;
    }
}
@media only screen and (max-width:300px){
    li{
        font-size: 3vw;
    }
}