footer {
  width: 100%;
  background-color: #d6975c;
  padding: 5px;
  text-align: center;
}
#footer {
  /* width: 50%; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 15px auto;
  max-width: 800px;
}

#footer ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  border: none;
  padding: 0;
  margin: 0;
  flex: 1;
}
#footer-social {
  flex: 1;
}
#footer li {
  font-size: 12px;
  padding: 2px 2px;
  text-transform: uppercase;
}
#footer a {
  text-decoration: none;
  color: white;
}
#footer-social li,
#footer-contact li {
  color: white;
}

.copyright a {
  color: #f6ecbbb2;
  /* margin: 20px 0px; */
  padding: 10px;
}


small {
  color: #5a5a5a70;
}
small a {
  color: #5a5a5a70;
}

@media only screen and (max-width: 360px) {
  #footer > ul {
    display: none;
  }
}
